{% include "partials/header.html" %} {% include "partials/navbar.html" %}
{% load staticfiles %}

{% load id %}

<section class="breadcrumb_section">
    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="/categories">Categories</a></li>
            </ol>
        </div>
    </div>
</section>

<div class="container">
    <div class="row" style="margin-left: 6%">
        {% for item in response %}

            <div id="box" style="background-image: url({{ item.image }}); background-position:center center;
                    background-repeat:no-repeat;
                    background-size:contain;">
                <div id="overlay">
                    <a href="/category/{{ item.tag }}">
                                            <span id="plus">{{ item.tag }}</span>

                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
<!-- container -->

<!-- Subscriber Section -->
{% include 'partials/footer.html' %}    <!-- row -->

</div>
<!-- #content-wrapper -->

</div>
<!-- .offcanvas-pusher -->

<a href="#" class="crunchify-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>

<div class="uc-mobile-menu uc-mobile-menu-effect">
    <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas"
            id="uc-mobile-menu-close-btn">&times;
    </button>
    <div>
        <div>
            <ul id="menu">
                <li class="active"><a href="blog.html">News</a></li>
                <li><a href="category.html">Mobile</a></li>
                <li><a href="blog.html">Tablet</a></li>
                <li><a href="category.html">Gadgets</a></li>
                <li><a href="blog.html">Camera</a></li>
                <li><a href="category.html">Design</a></li>
                <li class="dropdown m-menu-fw"><a href="#" data-toggle="dropdown" class="dropdown-toggle">More
                    <span><i class="fa fa-angle-down"></i></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="m-menu-content">
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li><a href="#">Awesome Features</a></li>
                                    <li><a href="#">Clean Interface</a></li>
                                    <li><a href="#">Available Possibilities</a></li>
                                    <li><a href="#">Responsive Design</a></li>
                                    <li><a href="#">Pixel Perfect Graphics</a></li>
                                </ul>
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li><a href="#">Awesome Features</a></li>
                                    <li><a href="#">Clean Interface</a></li>
                                    <li><a href="#">Available Possibilities</a></li>
                                    <li><a href="#">Responsive Design</a></li>
                                    <li><a href="#">Pixel Perfect Graphics</a></li>
                                </ul>
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li><a href="#">Awesome Features</a></li>
                                    <li><a href="#">Clean Interface</a></li>
                                    <li><a href="#">Available Possibilities</a></li>
                                    <li><a href="#">Responsive Design</a></li>
                                    <li><a href="#">Pixel Perfect Graphics</a></li>
                                </ul>
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li><a href="#">Awesome Features</a></li>
                                    <li><a href="#">Clean Interface</a></li>
                                    <li><a href="#">Available Possibilities</a></li>
                                    <li><a href="#">Responsive Design</a></li>
                                    <li><a href="#">Pixel Perfect Graphics</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- .uc-mobile-menu -->

</div>
<!-- #main-wrapper -->
</body>
<style>
    body {
        background: #e7e7e7;
    }

    #box {
        text-align: center;
        width: 28%;
        float: left;
        position: relative;
        box-shadow: inset 1px 1px 40px 0 rgba(0, 0, 0, 0.45);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        margin: 5% 5% 0 auto;
        background: url(http://ianfarb.com/wp-content/uploads/2013/10/nicholas-hodag.jpg);
        background-size: cover;
        border-radius: 5px;
        overflow: hidden;
    }

    #overlay {
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        padding: 81px 0 66px 0;
        opacity: 0.8;
        -webkit-transition: opacity 0.25s ease;
        -moz-transition: opacity 0.25s ease;
    }

    #box:hover #overlay {
        opacity: 1;
    }

    #plus {
        font-family: Helvetica;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.85);
        font-size: 310%;
    }


</style>
</html>