{% include "partials/header.html" %} {% include "partials/navbar.html" %} {% load staticfiles %}


<!-- header_section_wrapper -->

<section id="feature_news_section" class="feature_news_section">
    <!-- container -->
    {% include "partials/banner.html" %}
</section>
<!-- Feature News Section -->

<section id="category_section" class="category_section">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% include "partials/India.html" %} {% include "partials/world.html" %} {% include "partials/politics.html" %} {% include "partials/general.html" %}
                {% include "partials/entertainment.html" %} {% include "partials/sports.html" %} {% include "partials/science.html" %}
                {% include "partials/Economy.html" %}
                <!-- Design News Section -->
            </div>
            <!-- Left Section -->

            <div class="col-md-4">
                {% include "partials/popular.html" %}
                <!-- Popular News -->


<a href="https://www.accuweather.com/en/us/new-york-ny/10007/weather-forecast/349727" class="aw-widget-legal">
<!--
By accessing and/or using this code snippet, you agree to AccuWeather’s terms and conditions (in English) which can be found at https://www.accuweather.com/en/free-weather-widgets/terms and AccuWeather’s Privacy Statement (in English) which can be found at https://www.accuweather.com/en/privacy.
-->
</a><div id="awcc1513835057990" class="aw-widget-current"  data-locationkey="" data-unit="c" data-language="en-us" data-useip="true" data-uid="awcc1513835057990"></div><script type="text/javascript" src="https://oap.accuweather.com/launch.js"></script>
               <!--  <div class="widget hidden-xs m30">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive adv_img" src="{% static 'assets/img/right_add1.jpg' %}" alt="add_one">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive adv_img" src="{% static 'assets/img/right_add2.jpg' %}" alt="add_one">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive adv_img" src="{% static 'assets/img/right_add3.jpg' %}" alt="add_one">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive adv_img" src="{% static 'assets/img/right_add4.jpg' %}" alt="add_one">
                </div> -->
                <!-- Advertisement -->

                <div class="widget hidden-xs m30">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive widget_img" src="{% static 'assets/img/right_add5.jpg' %}" alt="add_one">
                </div>
                <!-- Advertisement -->

                <!-- <div class="widget reviews m30">
                    <div class="widget_title widget_black">
                        <h2>
                            <a href="#">Reviews</a>
                        </h2>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" src="{% static 'assets/img/pop_right1.jpg' %}" >
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="single.html" target="_self">DSLR is the most old camera at this time readmore about new products
                                </a>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" src="{% static 'assets/img/pop_right2.jpg' %}" >
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="single.html" target="_self">Samsung is the best mobile in the android market.</a>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" src="{% static 'assets/img/pop_right3.jpg' %}" >
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="single.html" target="_self">Apple launches photo-centric wrist watch for Android</a>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" src="{% static 'assets/img/pop_right4.jpg' %}" >
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="single.html" target="_self">Yasaki camera launches new generic hi-speed shutter camera.</a>
                            </h3>
                            <span class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                            </span>
                        </div>
                    </div>
                    <p class="widget_divider">
                        <a href="#" target="_self">More News&nbsp;&raquo;</a>
                    </p>
                </div> -->
                {% include "partials/health.html" %}

                <!-- Reviews News -->

                <div class="widget hidden-xs m30">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive widget_img" src="{% static 'assets/img/right_add6.jpg' %}" alt="add_one">
                </div>
                <!-- Advertisement -->

                {% include "partials/Technology.html" %}

                <!-- Most Commented News -->

                {% include "partials/disclaimer.html" %}

                <!-- Editor News -->

                {% include "partials/Business.html" %}

                <div class="widget hidden-xs m30">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
                    <img style="background-image: url({% static "assets/img/news-placeholder.png" %})"
                         onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"
                         class="img-responsive add_img" src="{% static 'assets/img/right_add7.jpg' %}" alt="add_one">
                </div>
                <!--Advertisement -->


                <!--  Readers Corner News -->

                {#                <div class="widget hidden-xs m30">#}
                {#                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-responsive widget_img" src="{% static 'assets/img/podcast.jpg' %}" alt="add_one">#}
                {#                </div>#}
                <!--Advertisement-->
            </div>
            <!-- Right Section -->

        </div>
        <!-- Row -->

    </div>
    <!-- Container -->

</section>
<!-- Category News Section -->


<!-- Video News Section -->

<!-- <section id="subscribe_section" class="subscribe_section">
    <div class="row">
        <form action="#" method="post" class="form-horizontal">
            <div class="form-group form-group-lg">
                <label class="col-sm-6 control-label" for="formGroupInputLarge">
                    <h1>
                        <span class="red-color">Sign up</span> for the latest news</h1>
                </label>

                <div class="col-sm-3">
                    <input type="text" id="subscribe" name="subscribe" class="form-control input-lg">
                </div>
                <div class="col-sm-1">
                    <input type="submit" value="Sign Up" class="btn btn-large pink">
                </div>
                <div class="col-sm-2"></div>
            </div>
        </form>
    </div>
</section> -->
<!-- Subscriber Section -->
{% include "partials/footer.html" %}

</div>
<!-- #content-wrapper -->

</div>
<!-- .offcanvas-pusher -->

<a href="#" class="crunchify-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</a>

<div class="uc-mobile-menu uc-mobile-menu-effect">
    <button type="button" class="close" aria-hidden="true" data-toggle="offcanvas" id="uc-mobile-menu-close-btn">
        &times;
    </button>
    <div>
        <div>
            <ul id="menu">
                <li class="active">
                    <a href="blog.html">News</a>
                </li>
                <li>
                    <a href="category.html">Mobile</a>
                </li>
                <li>
                    <a href="blog.html">Tablet</a>
                </li>
                <li>
                    <a href="category.html">Gadgets</a>
                </li>
                <li>
                    <a href="blog.html">Camera</a>
                </li>
                <li>
                    <a href="category.html">Design</a>
                </li>
                <li class="dropdown m-menu-fw">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">More
                        <span>
                            <i class="fa fa-angle-down"></i>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="m-menu-content">
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li>
                                        <a href="#">Awesome Features</a>
                                    </li>
                                    <li>
                                        <a href="#">Clean Interface</a>
                                    </li>
                                    <li>
                                        <a href="#">Available Possibilities</a>
                                    </li>
                                    <li>
                                        <a href="#">Responsive Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Pixel Perfect Graphics</a>
                                    </li>
                                </ul>
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li>
                                        <a href="#">Awesome Features</a>
                                    </li>
                                    <li>
                                        <a href="#">Clean Interface</a>
                                    </li>
                                    <li>
                                        <a href="#">Available Possibilities</a>
                                    </li>
                                    <li>
                                        <a href="#">Responsive Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Pixel Perfect Graphics</a>
                                    </li>
                                </ul>
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li>
                                        <a href="#">Awesome Features</a>
                                    </li>
                                    <li>
                                        <a href="#">Clean Interface</a>
                                    </li>
                                    <li>
                                        <a href="#">Available Possibilities</a>
                                    </li>
                                    <li>
                                        <a href="#">Responsive Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Pixel Perfect Graphics</a>
                                    </li>
                                </ul>
                                <ul class="col-sm-3">
                                    <li class="dropdown-header">Widget Haeder</li>
                                    <li>
                                        <a href="#">Awesome Features</a>
                                    </li>
                                    <li>
                                        <a href="#">Clean Interface</a>
                                    </li>
                                    <li>
                                        <a href="#">Available Possibilities</a>
                                    </li>
                                    <li>
                                        <a href="#">Responsive Design</a>
                                    </li>
                                    <li>
                                        <a href="#">Pixel Perfect Graphics</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- .uc-mobile-menu -->

</div>
<!-- #main-wrapper -->

</body>

</html>