 {% load staticfiles %}
{% load id %}
 <div class="widget m30">
                    <div class="widget_title widget_black">
                        <h2>
                            <a href="#">Disclaimer</a>
                        </h2>
                    </div>
                    <div class="widget_body">
{#                        <img style=""#}
{#                             class="img-responsive left" src="{% static 'assets/img/news-placeholder.png' %}">#}

                        <p>Culminated is in now way associated with any of these news sources.We are an independent
                            open-source platform for culminating and curating news from a wide selection of news sources.

                        </p>

                        <p>Culminated doesn't believe in any discrimination based on color,creed,caste,religion or political affiliations.We are not responsible for the content in any of these sources.
                        We aim to provide you news with different sources at one place so that you can reach a wise decision about what goes around you.
                        </p>
                    </div>
                </div>