{% load staticfiles %}

{% load id %}
<section id="footer_section" class="footer_section">
    <div class="container">
        <hr class="footer-top">
        <div class="row">
            <div class="col-md-5">
                <div class="footer_widget_title">
                    <h3>
                        <a href="#" target="_self">About Culminated</a>
                    </h3>
                </div>
                <div class="logo footer-logo">
                    <a title="fontanero" href="/">
                        <img style="" src="{% static 'assets/img/news-placeholder2.png' %}" alt="culminated" width="155"
                             height="155">
                    </a>

                    <p>Culminated is an open source service for reading news and articles from different sources in one
                        convenient platform.</p>
                    <p>Culminated started as a musing of a bored guy. It is not associated or responsible for
                        the sources and their articles</p>
                </div>
            </div>
            <div class="col-md-6" style="margin-left: 8%">
                <div class="footer_widget_title">
                    <h3>
                        <a href="category.html" target="_self">Discover</a>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <ul class="list-unstyled left" id="menuHeader">
                            <li><a href="#Main">News</a></li>
                            <li><a href="#World">World</a></li>
                            <li><a href="#Politics">Politics</a></li>
                            <li><a href="#General">General</a></li>
                            <li><a href="#Popular">Popular</a></li>
                            <li><a href="#Science">Science</a></li>

                            <li><a href="#Entertainment">Entertainment</a></li>
                            <li><a href="#Sports">Sports</a></li>
                            <li><a href="#Economy">Economy</a></li>
                            <li><a href="#Health">Health</a></li>
                            <li><a href="#Technology">Technology</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-8">
                        <ul class="list-unstyled" id="menuHeader">
                            <li><a href="/categories">Categories</a></li>
                            <li><a href="/sources">Sources</a></li>

                            <li>
                                <a href="#">Contact Us</a>
                            </li>


                            <li>
                                <a href="#">Advertisement Policy</a>
                            </li>
                            <li>
                                <a href="#">Report Technical issue</a>
                            </li>
                            <li>
                                <a href="#">Complaints and Corrections</a>
                            </li>
                            <li>
                                <a href="/Terms/">Terms and Conditions</a>
                            </li>
                            <li>
                                <a href="/PrivacyPolicy">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="/Terms#cookies" target="_blank">Cookie Policy</a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="footer_widget_title">
                    <h3>
                        <a href="#" target="_self">Editor Picks</a>
                    </h3>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" src="{% static 'assets/img/editor_pic1.jpg' %}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="single.html">Apple launches photo-centric wrist watch for Android</a>
                        </h3>
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </span>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" src="{% static 'assets/img/editor_pic2.jpg' %}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="single.html">Apple launches photo-centric wrist watch for Android</a>
                        </h3>
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </span>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" src="{% static 'assets/img/editor_pic3.jpg' %}" >
                        </a>
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">
                            <a href="single.html">Apple launches photo-centric wrist watch for Android</a>
                        </h3>
                        <span class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-full"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer_widget_title">
                    <h3>
                        <a href="category.html" target="_self">Tech Photos</a>
                    </h3>
                </div>
                <div class="widget_photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo1.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo2.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo3.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo4.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo5.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo6.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo7.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo8.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo9.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo10.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo11.jpg' %}" alt="Tech Photos">
                    <img  style="background-image: url({% static "assets/img/news-placeholder.png" %})"   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-thumbnail" src="{% static 'assets/img/tech_photo12.jpg' %}" alt="Tech Photos">
                </div>

            </div> -->
        </div>
    </div>

    <div class="footer_bottom_Section">
        <div class="container">
            <div class="row">
                <div class="footer">
                    <div class="col-sm-3">
                        <div class="social">
                            <a class="icons-sm fb-ic">
                                <i class="fa fa-facebook"></i>
                            </a>
                            <!--Twitter-->
                            <a class="icons-sm tw-ic">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <!--Google +-->
                            <a class="icons-sm inst-ic">
                                <i class="fa fa-instagram"> </i>
                            </a>
                            <!--Linkedin-->
                            <a class="icons-sm tmb-ic">
                                <i class="fa fa-tumblr"> </i>
                            </a>
                            <!--Pinterest-->
                            <a class="icons-sm rss-ic">
                                <i class="fa fa-rss"> </i>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>&copy; Copyright 2017-Culminated
                        </p>
                    </div>
                    <div class="col-sm-3">
                        <p>The Culminated News Magazine</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
