{% load staticfiles %}
{% load id %}
<div class="category_section gadget" id="Politics">
    <div class="article_title header_black">
        <h2>
            <a href="/category/Politics" target="_self">Politics</a>
        </h2>
    </div>
    <div class="category_article_wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/about/{{PoliticsHeader1.title|replace_space}}/{{PoliticsHeader1.uTag}}/" target="_self">
                            <img    class="img-responsive" src="{{PoliticsHeader1.image}}" style="width:302px !important ;height:274px !important" onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';" >
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag black">
                        <a href="/category/Politics" target="_self">Politics</a>
                    </span>

                    <div class="category_article_title">
                        <h2>
                            <a href="/about/{{PoliticsHeader1.title|replace_space}}/{{PoliticsHeader1.uTag}}/" target="_self">{{PoliticsHeader1.title}}</a>
{#                            <a href="{{PoliticsHeader1.link}}" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>#}
                        </h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date">
                        <a href="/byDate/{{PoliticsHeader1.published|slice:"16"}}">{{PoliticsHeader1.published|slice:"16" }}</a>, by:
                        <a href="/source/{{PoliticsHeader1.source}}">{{PoliticsHeader1.source}}</a>
                    </div>
                    <!----article_date------>
                    <div class="category_article_content">
                        {{PoliticsHeader1.summary|truncatechars:100}}
                    </div>
                    <!-- category_article_content -->

                    <!-- <div class="media_social">
                        <span>
                            <a href="#">
                                <i class="fa fa-share-alt"></i>424 </a> Shares</span>
                        <span>
                            <i class="fa fa-comments-o"></i>
                            <a href="#">4</a> Comments</span>
                    </div> -->
                    <!-- media_social -->

                </div>
                <!-- category_article_body -->

                <div class="category_article_list">
                        {% for item in Politics1 %}

                    <div class="media">
                        <div class="media-left">
                            <a href="/about/{{item.title|replace_space}}/{{item.uTag}}/">
                                <img     onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="media-object" width="122" height="122" src="{{item.image}}" >
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="/about/{{item.title|replace_space}}/{{item.uTag}}/" target="_self">{{item.title}}</a>
                                &nbsp;&nbsp;
                            </h3>
                            <span class="media-date">
                                <a href="/byDate/{{item.published|slice:"16"}}">{{item.published|slice:"16" }}</a>, by:
                                <a href="/source/{{item.source}}">{{item.source}}</a>
                            </span>
{##}
{#                            <div class="media_social">#}
{#                                <span>#}
{#                                    <a href="#">#}
{#                                        <i class="fa fa-share-alt"></i>424</a> Shares</span>#}
{#                                <span>#}
{#                                    <a href="#">#}
{#                                        <i class="fa fa-comments-o"></i>4</a> Comments</span>#}
{#                            </div>#}
                        </div>
                    </div>
                    {% endfor %}


                </div>
                <!-- category_article_list -->

            </div>
            <!-- col-md-6 -->

            <div class="col-md-6">
                <div class="category_article_body">
                    <div class="top_article_img">
                        <a href="/about/{{PoliticsHeader2.title|replace_space}}/{{PoliticsHeader2.uTag}}/" target="_self">
                            <img   onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';"class="img-responsive" src="{{PoliticsHeader2.image}}" style="width:302px !important ;height:274px !important" >
                        </a>
                    </div>
                    <!-- top_article_img -->

                    <span class="tag black">Politics</span>

                    <div class="category_article_title">
                        <h2>
                            <a href="/about/{{PoliticsHeader2.title|replace_space}}/{{PoliticsHeader2.uTag}}/" target="_self">{{PoliticsHeader2.title}}
{#                            <a href="{{PoliticsHeader2.link}}" target="_blank"><i class="fa fa-external-link-square" aria-hidden="true"></i></a>#}
                            </a>
                        </h2>
                    </div>
                    <!-- category_article_title -->

                    <div class="article_date">
                        <a href="/byDate/{{PoliticsHeader2.published|slice:"16"}}">{{PoliticsHeader2.published|slice:"16" }}</a>, by:
                        <a href="/source/{{PoliticsHeader2.source}}">{{PoliticsHeader2.source}}</a>
                    </div>
                    <!-- article_date -->

                    <div class="category_article_content">
                        {{PoliticsHeader2.summary|truncatechars:100}}
                    </div>
                    <!-- category_article_content -->

                    <!-- <div class="article_social">
                        <span>
                            <i class="fa fa-share-alt"></i>
                            <a href="#">424</a>Shares</span>
                        <span>
                            <i class="fa fa-comments-o"></i>
                            <a href="#">4</a>Comments</span>
                    </div> -->
                    <!-- article_social -->

                </div>
                <!-- category_article_body -->


                <div class="category_article_list">
                        {% for item in Politics2 %}

                    <div class="media">
                        <div class="media-left">
                            <a href="/about/{{item.title|replace_space}}/{{item.uTag}}/">
                                <img     onerror="this.onerror=null;this.src='{% static "assets/img/news-placeholder.png" %}';" class="media-object" width="122" height="122" src="{{item.image}}" >
                            </a>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">
                                <a href="/about/{{item.title|replace_space}}/{{item.uTag}}/" target="_self">{{item.title}}</a>
                                &nbsp;&nbsp;
                            </h3>
                            <span class="media-date">
                                <a href="/byDate/{{item.published|slice:"16"}}">{{item.published|slice:"16" }}</a>, by:
                                <a href="/source/{{item.source}}">{{item.source}}</a>
                            </span>
{##}
{#                            <div class="media_social">#}
{#                                <span>#}
{#                                    <a href="#">#}
{#                                        <i class="fa fa-share-alt"></i>424</a> Shares</span>#}
{#                                <span>#}
{#                                    <a href="#">#}
{#                                        <i class="fa fa-comments-o"></i>4</a> Comments</span>#}
{#                            </div>#}
                        </div>
                    </div>
                    {% endfor %}


                </div>
            </div>
        </div>
        <!-- row -->

    </div>
    <!-- category_article_wrapper -->

    <p class="divider">
        <a href="/category/Politics">More News&nbsp;&raquo;</a>
    </p>
</div>